Host *
  ControlMaster auto
  ControlPath /tmp/ssh_mux_%h_%p_%r

  ForwardAgent no
  ForwardX11 no

Host etl-services
  Hostname etl-services.rmm.sagem
  User kevin

Host valid7
  Hostname forge-valid7.rmm.sagem
  User kevin

Host *.sagem
  User sagemuser
